/*font-family: 'Philosopher', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Playball', cursive;
font-family: 'Rambla', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'Marmelad', sans-serif;
font-family: 'Amaranth', sans-serif;
font-family: 'Arima Madurai', cursive;
font-family: 'Fredericka the Great', cursive;*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-bottom: 40px;
	color: #5a5a5a;
	background-color: #EEE;
	font-family: 'Playball', cursive;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
	font-size: 25px;
}

/* Flip around the padding for proper display in narrow viewports */


.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
	
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;

}
.navbar-wrapper .navbar .container {
	width: auto;

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 60px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
	font-size: 10px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: #777;
}
.carousel-inner > .item > img {
	top: 0;
	left: 0;
	min-width: 100%;
}

.index-title {
	font-size: 50px;
}

.index-byline {
	font-family: 'Amaranth', sans-serif;

}


/* NAV CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
	margin-top: 300px;
}
.marketing h2 {
	font-weight: normal;
	

}
.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Amaranth', sans-serif; 
}

/* ABOUT
________________________________________________________________*/

.about-tron {
	background: url(../images/climbing_sky.jpg);
	height: 700px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #DDD;

}

.about-title h1 {
	font-size: 10px;
}


	
/* BLOG-LIST
________________________________________________________________*/

.blog-list-tron {
	background: url(../images/iceland_huts.jpg);
	height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.blogs-header {
	color: #008000;
	padding-top: 150px;
	padding-left: 300px;
	font-size: 100px;

}

.blog-div {
	margin-bottom: 10px;
	color: #111;
	font-family: 'Amaranth', sans-serif;
}

.date {
	background-image: url("../images/peach_glitter.jpg");
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin: 10px 0 5px 10px;
	position: relative;
	float: left;
	padding-top: 55px;
	padding-left: 20px;
	font-size: 20px;
}

.list-body {
	margin-left: 100px;
	padding-left: 100px;
	padding-top: 10px;
}

.blogs-published {
	font-size: 20px;
	padding-left: 12px;
}

.blogs-title {
	font-size: 30px;
	
}

.blogs-summary {
	font-size: 20px;
}

.blogs-author {
	font-size: 15px;
}

.blog-list-footer {
	margin-top: 40px;
}

/* BLOG
___________________________________________________*/


.blog-body {
	padding: 20px 40px 20px 40px;
}

.blog-title {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.blog-author {
	text-align: center;
	padding-bottom: 20px;
}

.blog-content {
	font-size: 18px;
}

.blog-date {
	background-image: url("../images/peach_glitter.jpg");
	font-size: 20px;
}

/* EDITOR
________________________________________________________________*/

#blog-editor {
	margin-bottom: 40px;
}

/* RESOURCE-LIST
___________________________________________________*/

.resource-tron {
	background: url(../images/glitter_girl.jpg);
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 100px;
}

.jumbotron h1 {
	font-size: 100px;
	margin-left: 20px;
}

.resources-title {
	margin-top: 200px;
}

.resource-options {
	margin-top: 250px;
}

.resource-options h2{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-right: 40px;
	font-size: 40px;
}

.people-helper:link, .fNf:link, .survivorA:link, .survivor-list-footer:link {
	color: white;
}

.people-helper:visited, .fNf:visited, .survivorA:visited{
    color: white;
}

.survivor-list-footer {
	margin-top: 300px;
}

/* Survivor RESOURCE-LIST
___________________________________________________*/

.survivor-tron {
	background: url(../images/mt_nebo.jpg);
	height: 700px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.survivor-heading {
	text-align: center;
	margin-top: 100px;
	color: black;
}

.survivor-categories {
	display: flex;
	justify-content: center;
}

.survivor-categories h2 {
	margin: 20px;
	color: #606070;
}

/* Survivor VIDEO-LIST
___________________________________________________*/

.sv-title {
	margin-top: 100px;
	text-align: center;
	font-size: 100px;
}

.sv-title h1 {
	font-size: 50px;
}

.video-div {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.flex-content {
	min-height: 350px;
	min-width: 350px;
	margin: 10px 50px 0 0px;
}

.survivor-video-sum {
	font-family: 'Amaranth', sans-serif;
}

.modal-title {
	font-size: 30px;
	text-align: center;
}

.video-content {
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
	margin-top: 15px;
}

.survivor-video-link {
	font-size: 20px;

}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 1024px) {
	.carousel-inner > .item, .blog-list-tron {
		height: 800px;
	}

	 .resource-tron {
		height: 1100px;
	}

	.survivor-tron {
		height: 1100px;
	}

	.blogs-title {
		margin-right: 100px;
	}

}

@media (min-width: 768px) {
	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}

}



